small {
  font-size: 1em;
  color: grey;
  float: right;
}

.horiz {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  .form_group {
    flex: 1 1 auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.date, .time {
  display: flex;
  // Setup inputs to reflow to rows when screen size is too small
  input {
    width: 50px; // Effectively minimum width for flexbox layout
    flex: 1 1 auto;
    text-align: center;
  }
  span {
    align-self: center;
    flex: 0;
    margin: 0 0.5rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;

  a, button {
    margin: 0 0.5rem;
    flex-grow: 1;
    padding: 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      flex-grow: 2;
      margin-right: 0;
    }
  }
}
