<h2>Login / Register</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="container">
    <div class="form_group">
      <label for="username">Username</label>
      <input type="text" id="username">
    </div>
    <div class="form_group">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
  </div>
  <div class="actions">
    <a (click)="createAccount($event)" class="button">Create Account</a>
    <a (click)="login($event)" class="button">Login</a>
  </div>
</form>
