<div class="container">
  <div class="info">
    <h5 class="title">{{todo.task}}</h5>
    <p class="due">Before: {{todo.year}}-{{todo.month | number:'2.'}}-{{todo.day | number:'2.'}} {{todo.hour | number:'2.'}}:{{todo.min | number:'2.'}}</p>
  </div>
  <ul class="action_buttons">
    <li><a class="button" (click)="edit.emit($event)"><i class="material-icons">mode_edit</i></a></li>
    <li><a class="button" (click)="delete.emit($event)"><i class="material-icons">delete_forever</i></a></li>
    <li><a class="button" (click)="done.emit($event)"><i class="material-icons">thumb_up</i></a></li>
  </ul>
</div>
